html, body {
    margin: 0;
    padding: 0;
    width: 100%;
     font-family: 'Poppins', sans-serif;
}

header {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(
            to bottom,
            rgba(0,0,0,0.8) 0%,
            rgba(0,0,0,0.5) 40%,
            rgba(0,0,0,0.85) 75%,
            rgba(0,0,0,1) 100%
        ),
        url(assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: 8px solid #232323;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: auto;
    height: 70px;
    position: relative;
    z-index: 2;
}

nav img {
    width: 140px;
}

.nav-btn{
    display: flex;
    gap: 12px;
}

.btn-lang {
     display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    color: white;
    padding: 6px 18px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn-sign {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    padding: 6px 18px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    height: 32px;
}

@media (max-width: 768px) {
    nav {
        max-width: 90vw;
    }

    nav img {
        width: 110px;
    }

    .btn-lang, .btn-sign {
        font-size: 12px;
        padding: 5px 12px;
    }
}

.hero {
    position: relative;
    z-index: 2;
    height: calc(80vh - 70px);
    display: flex;
    max-width: 900px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    gap: 16px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 56px;
    font-weight: 900;
    max-width: 650px;
line-height: 1.1;
}

.hero h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 6px;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 18px;
    }

    .hero p {
        font-size: 15px;
    }
}

.email-box {
    display: flex;
    gap: 10px;
    margin-top: 16px;
    width: 100%;
    max-width: 600px;
}

.email-box input {
    flex: 1;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
     background-color: rgba(0,0,0,0.6);
    border: 1px solid rgba(255,255,255,0.4);
    color: white;
}

.email-box input::placeholder {
    color: #aaa;
}

.email-box button {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    padding: 17px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .email-box {
        max-width: 90%;
    }

    .email-box input {
        padding: 12px;
    }

    .email-box button {
        padding: 12px 20px;
        font-size: 16px;
    }
}

.card {
    background-color: black;
    color: white;
    padding: 40px 10vw;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.trending-row {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: flex-end;
}

.trending-row::-webkit-scrollbar {
    display: none;
}

.movie-card {
    position: relative;
    min-width: 160px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie-card img {
    width: 100%;
    border-radius: 6px;
}

.movie-card:hover {
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .movie-card {
        min-width: 130px;
    }

    .number {
        font-size: 55px;
    }
}

.number {
    position: absolute;
    bottom: -10px;
    left: -2px;
    font-size: 72px;
    -webkit-text-stroke: 2px white;
    color: black;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Arial Black', sans-serif;
    z-index: 1;
}

.reasons {
    background-color: black;
    color: white;
    padding: 60px 10vw;
}

.reasons h2 {
    font-size: 28px;
    margin-bottom: 25px;
}

.reason-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.reason-card p {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.4;
}

.reason-card {
    background: linear-gradient(145deg, #0f0f2a, #2a0f2f);
    padding: 25px;
    border-radius: 20px;
    position: relative;
    min-height: 220px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.reason-card svg {
    width: 65px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.reason-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 900px) {
    .reason-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .reason-cards {
        grid-template-columns: 1fr;
    }
}
 @media (max-width: 768px) {
    .card, .reasons, .faq, .cta {
        padding: 40px 6vw;
    }
}

.faq {
    background-color: black;
    color: white;
    padding: 60px 10vw;
}

.faq h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.faq-item {
    background-color: #2d2d2d;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.faq-question {
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    padding: 20px;
}

.icon {
    font-size: 28px;
    transition: transform 0.3s;
}

.faq-item.active .icon {
    transform: rotate(45deg);
}

.cta {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 10vw;
}

.cta .email-box {
    margin: 20px auto;
    justify-content: center;
}

.cta p {
    font-size: 18px;
    margin-bottom: 20px;
}